
extends /carolina/errors/base.pug

block details

  h2 Validation Problem
  
  p.text-danger
    b #{err.details.fieldName}:
    | 
    | #{err.details.message}
  p
    b Attempted Value:
  p #{String(err.details.value)}
    